    body {
        background-color: white;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        line-height: 1.6;
        font-size: 16px;
    }

    .he {
        direction: rtl;
    }
    div.GeneralInfo{
        width: -webkit-fill-available;
    }

    .top-right-buttons {
        position: fixed;
        right: 1.2em;
        top: 1.2em;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .button {
        background-image: linear-gradient(to right, #f6d365, #fda085);
        color: #000;
        padding: 0.6em 1.2em;
        border-radius: 50px;
        margin-right: 0.6em;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
    }

    .button:last-child {
        margin-right: 0;
    }

    .button:hover {
        background-image: linear-gradient(to left, #f6d365, #fda085);
        box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.4);
        transform: translateY(-2px);
    }

    header {
        margin-top: 3.1em;
        color: #000000;
    }

    section, footer {
        margin: 1.2em;
        padding: 1.2em;
        border-radius: 0.9em;
        background: rgb(195 189 189 / 10%);
        box-shadow: 0 0.25em 0.4em rgba(0, 0, 0, 0.1);
        color: black;
        font-size: 1.1em;
        width: 80%;
        transition: none;
        line-height: 1.6;
        font-weight: normal;
    }

    section.general-info {
        display: flex;
    }

    div.picture {
        width: 40%;
        /*margin: 2.5em 6.2em;*/
        display: flex;
        justify-content: center;
    }

    section.general-info img {
        width: 11em;
        height: 11em;
        border-radius: 50%;
        border: 0.1em solid black;
    }

    h1 {
        color: black;
        margin-left: 1.2em;
        margin-right: 1.2em;
    }

    h2 {
        color: #306998;
        font-weight: bold;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul, li {
        list-style-type: disclosure-closed;
        padding: 0;
        margin: 0.6em 1.5em;
        font-weight: normal;
    }

    ul.experience-list li {
        list-style-type: disc;
        margin-left: 0.9em;
        margin-right: 0.9em;
    }

    a.tag {
        padding: 0.2em;
        text-decoration-line: none;
        cursor: default;
        font-style: italic;
        font-weight: 700;
    }

    a.tag2 {
        padding: 0.45em;
        border-radius: 13px;
        text-decoration-line: none;
        cursor: default;
        box-shadow: 0 0.25em 0.4em rgba(0, 0, 0, 0.1);
    }

    div.contact-me {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    p {
        line-height: 2.3em;
    }

    ul.languages-list li {
        list-style-type: disc;
        margin-left: 0.9em;
        margin-right: 0.9em;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .skill-box {
        background: rgb(207 203 203 / 10%);
        padding: 0.8em;
        border-radius: 0.6em;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        width: 11%;
        margin: 0.3em;
        height: 5.62em;
        box-shadow: -1px 1px 3px 1px #8bb0c17a;
    }

    .skill-box:hover {
        transform: translateY(-0.3em);
        box-shadow: 0 0.3em 0.9em rgba(0, 0, 0, 0.4);
    }

    .skill-logo {
        font-size: 1.25em;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
    }

    .skill-logo.python {
        color: #306998;
    }

    .skill-logo.javascript {
        color: #F7DF1E;
    }

    .skill-logo.bash {
        color: #4EAA25;
    }

    .skill-logo.linux {
        color: #FCC624;
    }

    .skill-logo.requests {
        color: #4EAA25;
    }

    .skill-logo.socket {
        color: #000000;
    }

    .skill-logo.function {
        color: #4CAF50;
    }

    .skill-logo.git {
        color: #F05032;
    }

    .skill-logo.qa {
        color: #E34C26;
    }

    .skill-logo.figma {
        color: #F24E1E;
    }

    .skill-logo.seo {
        color: #4285F4;
    }

    .skill-logo.html5 {
        color: #E34C26;
    }

    .skill-logo.css3 {
        color: #1572B6;
    }

    .skill-logo.ai {
        color: #3C3C3C;
    }

    .skill-logo.jquery {
        color: #0769AD;
    }

    .skill-logo.sql {
        color: #E34C26;
    }

    .skill-logo.os {
        color: #000000;
    }

    .skill-box span {
        font-size: 0.9em;
        color: black;
        font-weight: 600;
    }

    .contact-info-fixed {
        position: fixed;
        top: 0;
        width: 97.5%;
        background-color: rgb(235 249 235 / 69%);
        box-shadow: 0 2px 0.25em rgba(0, 0, 0, 0.1);
        padding: 0.3em 0.6em;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #translate-button {
        background-color: #306998;
        color: white;
        padding: 0.1em 1.25em;
        border: none;
        border-radius: 0.6em;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .language-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
        border-radius: 0.6em;
        padding: 0.6em 0;
        z-index: 1000;
    }

    .language-option {
        padding: 0.4em 0.6em;
        cursor: pointer;
        transition: background 0.1s ease;
        display: block;
        color: #306998;
    }

    .language-option:hover {
        background-color: #f1f1f1;
        text-decoration: none;
    }

    #translate-button:hover .language-options {
        display: block;
    }

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .contact-items {
        display: contents;
    }

    .contact-item {
        display: flex;
        align-items: center;
    }

    .contact-item a {
        color: black;
        text-decoration: none;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .contact-item i {
        font-size: 1.25em;
        vertical-align: middle;
    }

    .contact-info-fixed .contact-item {
        display: flex;
        align-items: center;
        margin-right: 1.25em;
    }

    .contact-info-fixed .contact-item a {
        color: black;
        text-decoration: none;
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .contact-info-fixed .contact-item i {
        font-size: 1.25em;
        vertical-align: middle;
    }

    .contact-info-fixed .contact-item .fa-envelope {
        color: #D44638;
    }

    .contact-info-fixed .contact-item .fa-phone {
        color: #34B7F1;
    }

    .contact-info-fixed .contact-item .fa-whatsapp {
        color: #25D366;
    }

    .contact-info-fixed .contact-item .fa-github {
        color: #4078c0;
    }

    .contact-info-fixed .contact-item .fa-linkedin {
        color: #0077b5;
    }

    .contact-info-fixed .contact-item:last-child {
        margin-right: 0;
    }


    @media only screen and (max-width: 900px){
        body {
           font-size: 13px;
        }
        section{
            width: 80%;
        }
        .skillName {
            font-size: 0.6em !important;
        }
        section.general-info img {
                width: 8em;
                height: 8em;
        }
        .contact-info-fixed {
            width: 95%;
        }

        .skill-box{
                height:4.5em;
            }
    }

        @media only screen and (max-width: 600px){
            body {
               font-size: 10px;
            }
            section{
                width: 85%;
            }
            .skillName {
                font-size: 0.4em !important;
            }
            section.general-info img {
                width: 5em;
                height: 5em;
            }
            a.contactName {
                 content-visibility: hidden;
            }
            .contact-info-fixed {
                width: 90%;
            }

            .skill-box{
                height:3.5em;
            }

    }
